<body style="background-color: black;">
    <div class="Container">
        <form (ngSubmit)="postClub()">
            <p-card header="Create Club" [style]="{width: '430px'}" class="">
                <div class="field">
                    <label for="clubname">Club Name</label>
                    <input id="clubname" pInputText class="w-full" type="text" name="clubname" placeholder="Enter your clubname" [(ngModel)]="Club.club_name"
                        required>
                </div>

                <div class="field">
                    <label for="address1">Club Id</label>
                    <input id="address1" pInputText class="w-full" type="text" name="address1"
                        placeholder="Enter your address" [(ngModel)]="Club.address1" required>
                </div>
    
                <br>
                <input type="submit" value="Create Club" class="registerBtn">
                <!-- <button class="registerBtn" (click)="hello()">Submit</button> -->
                    <!-- <h1>{{welcomeMsg}}</h1> -->
                    <!-- <h2>{{jsonData}}</h2> -->
                <!-- </div> -->
            </p-card>
        </form>
    </div>
    <!-- <p>{{welcomeMsg|json}}</p> -->
</body>