<div class="Container">
    <form [formGroup]="registerForm">
    <p-card header="Register" [style]="{width: '430px'}">
        <div class="field">
            <label for="fullName">Full Name</label>
            <input type="text" pInputText formControlName="fullName" class="w-full" name="fullName" placeholder="Enter your fullName"/>
        </div>
        <small *ngIf="fullName.invalid && (fullName.dirty||fullName.touched)" class="block p-error">
            <div *ngIf="fullName.errors?.['required']">*Full Name is required</div>
            <br>
            <div *ngIf="fullName.errors?.['fullName']">Full Name should be valid</div>
        </small>

        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full" name="email" placeholder="Enter your email"/>
        </div>
        <small *ngIf="email.invalid && (email.dirty||email.touched)" class="block p-error">
            <div *ngIf="email.errors?.['required']">*Email is required</div>
            <br>
            <div *ngIf="email.errors?.['email']">Email should be valid</div>
        </small>
           <div class="field">
            <label for="password">Password</label>
            <input type="password" pInputText formControlName="password" class="input" name="password" placeholder="Enter your Password"/>
            <small *ngIf="password.invalid && (password.dirty || password.touched)" class="small-error">
              <div *ngIf="password.errors?.['required']">Password is required</div>
              <div *ngIf="password.errors?.['minlength']">Password should be at least 6 characters</div>
            </small>
          </div>
          <div class="field">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" pInputText formControlName="confirmPassword" class="input" name="confirmPassword" placeholder="Confirm Password"/>
            <small *ngIf="isConfirmPasswordError(registerForm) && (confirmPassword.dirty || confirmPassword.touched)" class="small-error">
                Passwords do not match
              </small>
        </div>
        <br>
        <input type="button" value="Register" class="registerBtn" [disabled]="registerForm.invalid">
        <div class="mt-2" style="text-align: center;">
            Already a member?<a routerLink="/login" class="loginLink">Login</a>
        </div>

    </p-card>
</form>
</div>