
<body style="background-color:black;">
    <mat-toolbar class="nav">
        <span class="exampler-spacer"></span>
        <button routerLink="/home" id="btn1" mat-button>Create Club</button>
        <button routerLink="/home"  id="btn2" mat-button>Join Club</button>
    </mat-toolbar>
    <hr>
    <mat-card>
        <mat-card-content>My Club</mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container>
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Total League">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.league}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Team">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.team}} </td>
            </ng-container>
        
            <ng-container matColumnDef="Active League">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.activeLeague}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          
      </mat-card>
    </body>