<body>
  <div class="sidenav">
    <h2>Home</h2>
    <a (click)="showMyClubsContent()">My Clubs</a>
    <a (click)="showTennisContent()">Tennis</a>
    <a (click)="showRegisteredContent()">Registered Clubs</a>
  </div>
  <div>
    <button (click)="goToPage('createclub')" type="button" class="btn btn-primary" data-toggle="button"
      routerLink="/createclub">Create Club</button>
  </div>
  <div>
    <button (click)="goToPage('joinclub')" type="button" class="btn1 btn-primary" data-toggle="button"
      routerLink="/joinclub">Join Club</button>
  </div>


  <div class="main">

    <ng-container *ngIf="selectedNavItem === 'myClubs'">
      <table class="custom-table" id="myTable">
        <thead>
          <tr data-id="1">
            <th>League</th>
            <th>Start</th>
            <th>End</th>
            <th>Teams</th>
            <th>Matches</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let club of clubs" data-id="2">
            <td>{{ club.League }}</td>
            <td>{{ club.start }}</td>
            <td>{{ club.End }}</td>
            <td>{{ club.Teams}}</td>
            <td>{{ club.Matches }}</td>
            <!-- Add more table cells for additional properties -->
          </tr>
        </tbody>
      </table>
    </ng-container>

    <ng-container *ngIf="selectedNavItem === 'Tennis'">

      <table class="custom-table">
        <thead>
          <tr data-id="3">
            <th>League</th>
            <th>Start</th>
            <th>End</th>
            <th>Matches</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let club of clubs" data-id="4">
            <td>{{ club.League }}</td>
            <td>{{ club.start }}</td>
            <td>{{ club.End }}</td>
            <td>{{ club.Matches }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="selectedNavItem === 'RegisteredClubs'">
      <app-register-clubs></app-register-clubs>
      <!-- <app-tabledisplay></app-tabledisplay> -->
    </ng-container>
  </div>
  <div id="detailsContainer" class="details-container"></div>

</body>