<body style="background-color:black;overflow:scroll">
  <button  (click)="goToPage('createclub')" type="button" class="btn btn-primary" data-toggle="button" routerLink="/createclub">Create Club</button>
  <button (click)="goToPage2('joinclub')" type="button" class="btn1 btn-primary" data-toggle="button" routerLink="/joinclub">Join Club</button>
  <div class="sidebar">Welcome!</div>
  <div class="myclub">My Club</div>
  <div class="grid1">
    <p style="color: white;">{{selectClub|json}}</p>
    <div class="table-responsive">
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col " class="p-1 border">Club</th>
            <th scope="col" class="p-1 border">Total League</th>
            <th scope="col" class="p-1 border">Teams</th>
            <th scope="col" class="p-1 border">Active League</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let club of myClubs" (click)="selectMyClub(club)">
            <td scope="col " class="p-1 border">{{ club.name}}</td>
            <td scope="col " class="p-1 border">{{ club.totalLeagues }}</td>
            <td scope="col " class="p-1 border">{{ club.teams }}</td>
            <td scope="col " class="p-1 border">{{club.activeLeagues}}</td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="RegisteredClub">Registered Club</div>
  <div class="grid2">
    <div class="table1-responsive">
      <table class="table1 table-success table-striped">
        <thead> 
          <tr>
            <th scope="col " class="p-1 border">Club</th>
            <th scope="col" class="p-1 border">Date</th>
            <th scope="col" class="p-1 border">Teams</th>
            <th scope="col" class="p-1 border">Created By</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let club of regClubs" >
            <td scope="col " class="p-1 border">{{ club.name}}</td>
            <td scope="col " class="p-1 border">{{ club.joinDate|dateformat}}</td>
            <td scope="col " class="p-1 border">{{ club.leaguesPlayed }}</td>
            <td scope="col " class="p-1 border">{{club.createdBy}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  </body>