<div class="Container">
    <form (ngSubmit)="LogIn(loginUser)">
        <p-card header="Log In" [style]="{width: '430px'}">
            <div class="field">
                <label for="email">Email</label>
                <input id="email" pInputText class="w-full" type="email" name="name" placeholder="Enter your Email"
                   [(ngModel)]="loginUser.email" required>
            </div>

            <div class="field">
                <label for="password">password</label>
                <input id="password" pInputText class="w-full" type="password" name="password"
                    placeholder="Enter your password" [(ngModel)]="loginUser.password" required>
            </div>


            <br>
            <input type="submit" value="Log In" class="registerBtn">
            <div class="mt-2" style="text-align: center;">
                Are you new to this?<a routerLink="/register" class="loginLink">Register</a>
                
            </div>
        </p-card>
    </form>
</div>