<body style="background-color: black;">
    <div class="Container">
        <form (ngSubmit)="postLeague()">
            <p-card header="Create League" [style]="{width: '430px'}" class="">
               <div style="display: flex;">
                <h3>Club: </h3>
                <h3>{{clubDetail?.name}}</h3>
               </div>
                <div class="field">
                    <label for="leaguename">League name</label>
                    <input id="leaguename" pInputText class="w-full" type="text" name="leaguename" placeholder="Enter your leaguename" [(ngModel)]="League.name"
                        required>
                </div>

                <div class="field">
                    <label for="scheduletype">Schedule Type: </label>
                    <select name="scheduletype" id="" style="color: black;" [(ngModel)]="League.schedule_type_id">
                        <option value=1>Weekly any day</option>
                        <option value=2>Weekly fixed day</option>
                        <option value=3>4 Day Playoffs </option>
                    </select>
                </div>

                <div class="field">
                    <label for="startDate">Start Date</label>
                    <input id="startDate" pInputText class="w-full" type="datetime-local" name="startDate"
                         [(ngModel)]="League.start_date" required>
                </div>

                <div class="field">
                    <label for="EndDate">End Date</label>
                    <input id="EndDate" pInputText class="w-full" type="datetime-local" name="EndDate"
                         [(ngModel)]="League.end_date" required>
                </div>
                <div class="field">
                    <label for="leaguetype">League Type: </label>
                    <select name="leaguetype" id="" style="color: black;" [(ngModel)]="League.league_type_id">
                        <option value=1>Mens Singles</option>
                        <option value=2>Womens Singles</option>
                        <option value=3>Mens Doubles</option>
                        <option value=4>Womens Doubles</option>
                        <option value=5>Mixed Doubles</option>
                        <option value=6>Mens Team</option>
                        <option value=7>Womens Team</option>
                        <option value=8>Mixed Team</option>
                    </select>
                </div>

                <div class="field">
                    <label for="regStartDate">Registration Start Date</label>
                    <input id="regStartDate" pInputText class="w-full" type="datetime-local" name="regStartDate"
                         [(ngModel)]="League.registration_start_date" required>
                </div>

                <div class="field">
                    <label for="regEndDate">Registration End Date</label>
                    <input id="regEndDate" pInputText class="w-full" type="datetime-local" name="regEndDate"
                         [(ngModel)]="League.registration_end_date" required>
                </div>

                <div class="field">
                    <label for="playoffStartDate">Playoff Start Date</label>
                    <input id="playoffStartDate" pInputText class="w-full" type="datetime-local" name="playoffStartDate"
                         [(ngModel)]="League.playoff_start_date" required>
                </div>

                <div class="field">
                    <label for="playoffEndDate">Playoff End Date</label>
                    <input id="playoffEndDate" pInputText class="w-full" type="datetime-local" name="payoffEndDate"
                         [(ngModel)]="League.playoff_end_date" required>
                </div>

                <div class="field">
                    <label for="playoffteam">Playoff No.of Teams</label>
                    <input id="playoffteam" pInputText class="w-full" type="number" name="playoffteam"
                         [(ngModel)]="League.number_of_teams_playoffs" required>
                </div>

                <br>
                <input type="submit" value="Create League" class="registerBtn">
            </p-card>
        </form>
    </div>
</body>